body {
  color: white;
  background-color: rgb(46, 46, 47);
  /* font-family: Arial; */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.post {
  /* border: 1px solid red; */
  width: 380px;
  text-align: left;
  padding: 0 10px 0 10px;
}

.post-box {
  border: 2px solid rgb(52, 99, 102);
  width: 390px;
  text-align: center;
}

.activePost {
  border-style: dotted;
  margin: 10px;
  padding: 0 10px 10px 10px;
}

.replyTitle {
  /* border: 1px solid red; */
  text-align: left;
  padding-left: 10px;
}

.one {
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.two {
  background-color: rgb(52, 99, 102);
}

.three {
  border-radius: 0 10px 10px 0;
  color: rgb(52, 99, 102);
  border-color: rgb(216, 217, 218);
  background-color: rgb(216, 217, 218);
}

.main {
  text-align: center;
  flex: 1;
}

.content {
  width: 80%;
  display: flex;
  margin: auto;
  text-align: center;
}

footer {
  text-align: center;
}
