body {
  color: white;
  background-color: rgb(46, 46, 47);
  /* font-family: Arial; */
  font-family: 'Montserrat', sans-serif;
}

.post {
  /* border: 1px solid red; */
  width: 380px;
  text-align: left;
  padding: 0 10px 0 10px;
}

.post-box {
  border: 2px solid rgb(52, 99, 102);
  width: 390px;
  text-align: center;
}

.activePost {
  border-style: dotted;
  margin: 10px;
  padding: 0 10px 10px 10px;
}

.replyTitle {
  text-align: left;
  padding-left: 10px;
}

.one {
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.two {
  background-color: rgb(52, 99, 102);
}

.three {
  border-radius: 0 10px 10px 0;
  color: rgb(52, 99, 102);
  border-color: rgb(216, 217, 218);
  background-color: rgb(216, 217, 218);
}

.main {
  text-align: center;
}

.content {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.post:hover {
  cursor: pointer;
}

.button {
  min-width: 70px;
  color: white;
  background-color: rgb(52, 99, 102);
}

.addBtn {
  color: white;
  min-width: 170px;
}

.addOne {
  background-color: rgb(52, 99, 102);
}

.addTwo {
  color: rgb(46, 46, 47);
  border: 1px solid rgb(46, 46, 47);
  background-color: rgb(216, 217, 218);
}

.addTwo:hover {
  border-color: white;
}

.addThree {
  background-color: rgb(85, 85, 86);
}
