.communityName {
  font-size: 15px;
  vertical-align:text-bottom;
  height: 20px;
  position: relative;
  top: 25%;
  transform: translateY(-70%);
}

.commContainer {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(25, 25, 25, .6);
}
.join {
  color: #346366;
  font-weight: 800;
  font-size: 25px;
  display: inline;
  width: 10px;
  padding-left: 10px;
}

.join:hover{
  color: white;
}

.post-box {
  height: 500px;
  overflow: scroll;
}

.welcomeContainer {
  margin: 20px auto;
}

.welcome {
  text-align: center;
}

.searchBox {
  margin: auto;
  display: block;
  border: 1px solid #346366;
  text-align: center;
  background-color: transparent;
  padding: 5px 0;
  outline: 0;
}

.searchBox:hover, .searchBox:focus {
  color: white;
}
